<!-- <p>new works!</p> -->
<div class="col-xs-12">
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Add new Server or blueprint</p>
        <label>Server Name</label>
        <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
        <input 
            type="text" 
            class="form-control"
            #serverNameInput>
        <label>Server Description</label>
        <!-- {{ serverNameInput.value }}  // Local Reference to template -->
        <!-- <input type="text" class="form-control" [(ngModel)]="newServerDesc"> -->
        <input 
            type="text" 
            class="form-control" 
            #serverDescInput>
        <br>
        <button class="btn btn-primary" (click)="onServerAdded(serverNameInput)">
            Add Server
        </button>
        <button class="btn btn-info" (click)="onBlueprintAdded(serverNameInput)">
            Add Server Blueprint
        </button>
    </div>
    <ng-content>
        <!-- {{ serverls.type + ' '+ serverls.name +' '+ serverls.desc }} -->
        <!-- Moved the content to app.component.html -->
    </ng-content>

</div>