<!-- <h2>Hello App</h2>
<hr>
<app-servers></app-servers>
<hr>
<h3>Task 3</h3>
<button class="btn btn-primary" (click)="onBtnClick()">Display Details</button>
<p *ngIf="showMessage">Secret Password = tuna</p>
<div 
    *ngFor="let item of clickedArr; let i = index" 
    [ngStyle]="{ backgroundColor: i >= 4 ? 'blue': 'white' }"
    [ngClass]="{ valid: i >= 4 }">
    {{ item }}
</div> -->
<h3>Hello app component</h3>
<div class="row">
    <div class="col-xs-12">
        <app-new (serverCreated)="onServerAdded($event)"
        (bpCreated)="onBlueprintAdded($event)"
        *ngFor="let serverls of serverList" [servElement]="serverls">
</app-new>
    </div>
</div>


